body {
    font-family: "Lato", sans-serif;
    background-color: #FAFAFA;
    vertical-align: middle;
  }
  
  h1 {
    color: #737373;
    margin-top: 40px;
    font-weight: 300;
    text-align: center;
  }
  
  p {
    color: #737373;
    margin-top: 10px;
    font-weight: 300;
    text-align: center;
  }
 